.Greetings {
  position: absolute;
  padding: 1em;
  width: 100%;
  text-align: center;
}

.Greetings-welcome {
  max-width: 650px;
  margin: 3em auto;
  text-align: left;
}

.Greetings-startButton {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #268bd2;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fefefe;
}

.KoanPage {
  position: relative;
  line-height: 1.5;
  text-align: center;
}

.Koan {
  position: absolute;
  margin: 3em auto;
  padding: 1em;
  left: 0;
  right: 0;
}

.Koan-description {
  margin-bottom: 2em;
  text-align: center;
  color: #93a1a1;
}

.Koan-body {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  // max-width: 600px;
}

.Code,
.Koan-input {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

.Koan-input {
  margin: 3px 0;
  outline: none;
  border: none;
  border-bottom: 1px dashed #444;
  background-color: transparent;
  width: 80px;
  text-align: center;
  transition: width 300ms ease;
}

.Koan-errorBox {
  display: inline-block;
  margin-top: 3em;
  padding: 1em 2em;
  border-radius: 7px;
  background-color: #eee8d5;

  pre {
    white-space: pre-wrap;
  }
}

.Koan-encourage {
  font-style: italic;
  font-size: 0.8em;
  color: #268bd2;
}

.Koan-errorMessage {
  color: #dc322f;
}

.Koan-testMessage {
  color: #2aa198;
}

.Code {
  margin: 0;
}

.Code--block {
  display: block;
}

.Code--inline {
  display: inline-block;
}
