$code-font-family: 'Source Code Pro', monospace;
$color-base00: #657b83;
$color-base01: #586e75;
$color-base02: #073642;
$color-base03: #002b36;
$color-base0: #839496;
$color-base1: #93a1a1;
$color-base2: #eee8d5;
$color-base3: #fdf6e3;
$color-yellow: #b58900;
$color-red: #dc322f;
$color-blue: #268bd2;
$color-cyan: #2aa198;
$base-text-color: $color-base00;
$muted-text-color: $color-base1;

.App {
  position: relative;
}

.Header-title {
  margin: 0;
  letter-spacing: 0.1em;
  font-size: 13px;

  a {
    display: inline-block;
    padding: 5px;
    color: $color-base1;

    &:hover {
      color: $color-yellow;
    }
  }
}

.Greetings {
  position: absolute;
  padding: 1em;
  width: 100%;
  text-align: center;
}

.Greetings-welcome {
  max-width: 650px;
  margin: 3em auto;
  text-align: left;
  line-height: 1.5;
  font-family: $code-font-family;
}

.Greetings-startButton {
  $size: 100px;
  $bg: $color-base2;

  display: block;
  margin: 0 auto;
  width: $size;
  height: $size;
  line-height: $size;
  background-color: $bg;
  border-radius: $size / 2;
  letter-spacing: 1px;
  text-decoration: none;
  color: $color-base00;

  &:hover {
    background-color: darken($bg, 5%);
  }
}

.Toc {
  margin-top: 5em;
  font-size: 0.8em;
  color: $color-base00;
}

.Toc-title {
  margin-top: 4em;
  font-weight: normal;
}

.Toc-meditationList {
  margin: 0 0 1em 0;
  padding: 0;
}

.Toc-categoryName {
  margin: 1.5em 0 1em;
  padding: 0;
  font-weight: normal;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-yellow;
}

.Toc-meditationList a {
  $size: 30px;
  $bg: $color-base2;

  display: block;
  margin: 0 0.3em;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size / 2;
  background-color: $bg;
  text-decoration: none;
  font-size: 0.8em;
  color: $color-base1;

  &:hover {
    background-color: darken($bg, 5%);
  }
}

.Toc-meditation {
  display: inline-block;
}


.KoanPage {
  position: absolute;
  left: 0;
  right: 0;
  line-height: 1.5;
  text-align: center;
}

.KoanNav {
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.KoanNav-current, .KoanNav-link {
  display: inline-block;
  margin: 0 0.7em;
  padding: 0 0.1em;
}

.KoanNav-current {
  color: $color-base02;
  border-bottom: 1px solid $color-base02;
}

.KoanNav-link {
  color: lighten($muted-text-color, 10%);

  &:hover {
    color: $color-yellow;
  }
}

.Koan {
  margin: 1em auto;
}

.Koan-description {
  display: inline-block;
  margin: 1em auto 1.5em;
  text-align: left;
  font-size: 0.9em;
  font-family: $code-font-family;
  color: $muted-text-color;

  p {
    margin: 0;
  }
}

.Koan-codes {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  // max-width: 600px;
}

.Code,
.Koan-input {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: $code-font-family;
  font-size: 20px;
}

.Koan-input {
  margin: 3px 0;
  outline: none;
  border: none;
  border-bottom: 1px dashed $color-base03;
  background-color: transparent;
  width: 80px;
  text-align: center;
  transition: width 300ms ease;
}

.Koan-help {
  margin-top: 3em;
}

.HelpBox {
  display: inline-block;
  padding: 1em;
  border-radius: 7px;
  line-height: 1.7;
  text-align: left;
  font-size: 0.9em;
}

.HelpBox-comment {
  margin: 0;
  color: $color-base1;
  font-size: 0.9em;
}

.HelpBox-encourage {
  margin: 0;
  padding-left: 1em;
  font-style: italic;
  color: $color-cyan;
}

.HelpBox-errorMessage {
  padding: 1em 2em;
  border-radius: 7px;
  background-color: $color-base2;
  white-space: pre-wrap;
  text-align: center;
  color: $color-red;
}

.HelpBox-notice {
  padding: 1em 2em;
  border-radius: 7px;
  background-color: $color-blue;
  text-align: center;
  color: $color-base2;
}

.Code {
  margin: 0;
}

.Code--block {
  display: block;
}

.Code--inline {
  display: inline-block;
}

.NotFound {
  position: absolute;
  left: 0;
  right: 0;
  margin: 3em auto;
  text-align: center;
}
