.Header-title {
  margin: 0;
  font-size: 13px;
  font-family: 'Source Code Pro', monospace;

  a {
    display: inline-block;
    padding: 5px;
    color: #93a1a1;

    &:hover {
      color: #586e75;
    }
  }
}

.Greetings {
  position: absolute;
  padding: 1em;
  width: 100%;
  text-align: center;
}

.Greetings-welcome {
  max-width: 650px;
  margin: 3em auto;
  text-align: left;
}

.Greetings-startButton {
  $size: 100px;
  $bg: #eee8d5;

  display: block;
  margin: 0 auto;
  width: $size;
  height: $size;
  line-height: $size;
  background-color: $bg;
  border-radius: $size / 2;
  letter-spacing: 1px;
  text-decoration: none;
  color: #657b83;

  &:hover {
    background-color: darken($bg, 5%);
  }
}

.Toc {
  margin-top: 5em;
  font-size: 0.8em;
  color: #657b83;
}

.Toc-title {
  margin-top: 4em;
  font-weight: normal;
}

.Toc-meditationList {
  margin: 0 0 1em 0;
  padding: 0;
}

.Toc-categoryName {
  margin: 1.5em 0 1em;
  padding: 0;
  font-weight: normal;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #b58900;
}

.Toc-meditationList a {
  $size: 30px;
  $bg: #eee8d5;

  display: block;
  margin: 0 0.3em;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size / 2;
  background-color: $bg;
  text-decoration: none;
  font-size: 0.8em;
  color: #93a1a1;

  &:hover {
    background-color: darken($bg, 5%);
  }
}

.Toc-meditation {
  display: inline-block;
}


.KoanPage {
  position: relative;
  line-height: 1.5;
  text-align: center;
}

.Koan {
  position: absolute;
  margin: 0 auto;
  padding: 1em;
  left: 0;
  right: 0;
}

.Koan-category {
  display: inline-block;
  margin: 0 0 1em;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 13px;
  color: #b58900;
}

.Koan-description {
  margin: 1em 0 1.5em;
  text-align: center;
  font-size: 0.9em;
  color: #93a1a1;

  p {
    margin: 0;
  }
}

.Koan-body {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  // max-width: 600px;
}

.Code,
.Koan-input {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

.Koan-input {
  margin: 3px 0;
  outline: none;
  border: none;
  border-bottom: 1px dashed #444;
  background-color: transparent;
  width: 80px;
  text-align: center;
  transition: width 300ms ease;
}

.Koan-errorBox {
  display: inline-block;
  margin-top: 3em;
  padding: 1em 2em;
  border-radius: 7px;
  background-color: #eee8d5;

  pre {
    white-space: pre-wrap;
  }
}

.Koan-encourage {
  font-style: italic;
  font-size: 0.8em;
  color: #b58900;
}

.Koan-errorMessage {
  color: #dc322f;
}

.Koan-testMessage {
  color: #2aa198;
}

.Code {
  margin: 0;
}

.Code--block {
  display: block;
}

.Code--inline {
  display: inline-block;
}

.NotFound {
  position: absolute;
  left: 0;
  right: 0;
  margin: 3em auto;
  text-align: center;
}
